<%- include("./includes/header.ejs") %>
<div class="container col-14 border border-info mt-5 pt-4 pb-4">
    <div class="alert alert-primary display-4 mx-auto text-center" role="alert">
    CHARGING STATION LIST
      </div>
    </hr>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">STATION</th>
            <th scope="col">LOCATION</th>
            <th scope="col">PHONE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">PRICE PER UNIT</th>
            <th scope="col">CHARGER TYPE</th>
            <% if(admin=="admin"){ %>
            <th scope="col">ACTION</th>
            <%}
            %>
          </tr>
        </thead>
        <tbody>
            <% var index = 1 %>
            <%obj.forEach((charge)=>{%>
                <tr>
                    <td><%=index%></td>
                    <td><%=charge.station%></td>
                    <td><%=charge.address%></td>
                    <td><%=charge.phone%></td>
                    <td><%=charge.description%></td>
                    <td><%=charge.pay%></td>
                    <td><%=charge.chargeType%></td>
                    <% if(admin=="admin"){ %>
                      <td><a href="/charger/edit/<%=charge._id%>">EDIT</a> | <a href="/<%=charge._id%>">DELETE</a></th>
                      <%}
                      %>
                        
                </tr>
                <% index++ %>
                <%})%>
        
          
<!--             
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td> -->
          
                  </tbody>
      </table>
</div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>
$(function(){
    $('#address').focusout(function() {
        // console.log("iiiiii");
        // console.log(a)
        var addressinput = $(this).val();
        var YOUR_API_KEY="AIzaSyCPf6GZdShufw5fwc8yH-GErlgsgwcE_i4"
        
        // alert("Inside city")
      var saveData = $.ajax({
      type: "POST",
      url: `https://maps.googleapis.com/maps/api/geocode/json?address=${addressinput}&key=${YOUR_API_KEY}`,
      data: "results",
      dataType: "json",
      success: function (resp) {
        // alert(resp);
        console.log(resp.results[0].geometry.location.lat);
        console.log(resp.results[0].geometry.location.lng);
        var lat=(resp.results[0].geometry.location.lat);
        var lng=(resp.results[0].geometry.location.lng);
        $("#lat").val(lat);
        $("#lng").val(lng);
    },
    error: function(e){
        console.log('Error: '+e);
    }  
    });
    
})
});
</script>


<%- include("./includes/footer.ejs") %>